body{
    margin: 0;
    min-height: 100vh;
    background:
        linear-gradient(rgba(30,27,46,0.7), rgba(122,90,148,0.7)),
        url("fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background: linear-gradient(to right, #3f3a5b, #8a6bbc, #7a5a94);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo{
    width: 80px;
}

.frase{
    flex: 1;
    text-align: center;
    font-size: 30px;
    color: #e9d5ff; 
    font-weight: 500;
}

.menu button{
    margin-left: 10px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

.login{
    background: transparent;
    color: #c084fc;
    border: 1px solid #c084fc;
}

.login:hover{
    background: #c084fc;
    color: #1e1b2e;
}

.registro{
    background: #9333ea;
    color: white;
    border: none;
}

.registro:hover{
    background: #7e22ce;
}

.card{
    background: linear-gradient(to right, #6b658d, #8a6bbc, #7a5a94);
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}

.contenedor-card{
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}